@model Tuple<ProyectoIntegrador.Models.USUARIO, List<ProyectoIntegrador.Models.HISTORIAL>>

@{
    ViewBag.Title = "Historial";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet" />

<style>
    #total {
        text-align: right;
    }

    .row {
        overflow: hidden;
    }

    [class*="col-md-4 img-rounded"] {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }

    thead tr th {
        background-color: black;
        color: white;
        text-align: center;
    }
</style>

@{
    if (Model.Item1.Creditos < 100)
    {
        <h3 style="color:red; text-align:center"> Ya no cuentas con créditos para realizar ninguna acción </h3>
    }
}
<h2>Mi cuenta</h2>
<div class="container">
    <br />
    <div class="row">
        <div class="col-md-3">
            <h4>Tipo de licencia: <b style="font-family:'Footlight MT'">@Html.DisplayFor(model => model.Item1.LICENCIA.Nombre)</b></h4>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-md">Comprar licencia</button>
        </div>
    </div>
    <div class="row" style="margin-top:15px">
        <div class="col-md-3">
            <h4>Créditos: <b style="font-family:'Footlight MT'">@Html.DisplayFor(model => model.Item1.Creditos)</b></h4>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-md">Comprar créditos</button>
        </div>
    </div>
    <br />
    <div style="width:100%">
        <br />
        <div class="row">
            <h4>Tus movimientos realizados:</h4>
        </div>
        <div class="form-group">
            <input style="margin-top:14px; margin-bottom:14px" class="form-control pull-right" id="filter" type="text" placeholder="Buscar...">
        </div>
        <table data-toggle="table" id="history" class="table table-striped">
            <thead>
                <tr>
                    <th data-field="numero" data-sortable="true" scope="col">#</th>
                    <th data-field="fecha" data-sortable="true" scope="col">Fecha</th>
                    <th data-field="caso" data-sortable="true" scope="col">Caso/Identificador</th>
                    <th data-field="detalle_movimiento" data-sortable="true" scope="col">Detalle movimiento</th>
                    <th data-field="costo" data-sortable="true" scope="col">Costo</th>
                </tr>
            </thead>
            <tbody id="historyTable">
                @{
                    int count = 1;
                    float total = 0;
                }
                @foreach (var item in Model.Item2)
                {
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SUBCASO.IDENTIFICADOR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MOVIMIENTO.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MOVIMIENTO.Costo)
                        </td>
                    </tr>
                    total = total + (float)item.MOVIMIENTO.Costo;
                    count = count + 1;
                }
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th id="total">Total :</th>
                    <td>@total</td>
                </tr>
        </table>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <button id="nuevaIdentificacion" class="btn btn-primary" href="/home/Index">Realizar nueva identificación</button>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#filter").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#historyTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

