@model List<ProyectoIntegrador.Models.IDENTIFICACION>

@{
    ViewBag.Title = "Impresiones guardadas";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet" />

<style>
    thead tr th {
        background-color: black;
        color: white;
        text-align: center;
    }
</style>
<h2>Tus resultados guardados</h2>

<div class="container">
    <div style="width:100%">
        <br />
        <div class="row">
            <h4>Identificaciones guardadas:</h4>
        </div>
        <div class="form-group">
            <input style="margin-top:14px; margin-bottom:14px" class="form-control pull-right" id="filter" type="text" placeholder="Buscar...">
        </div>
        <table data-toggle="table" id="history" class="table table-striped">
            <thead>
                <tr>
                    <th data-field="numero" data-sortable="true" scope="col">#</th>
                    <th data-field="identificador_subcaso" data-sortable="true" scope="col">Identificador subcaso</th>
                    <th data-field="fecha" data-sortable="true" scope="col">Fecha</th>
                    <th data-field="caso" data-sortable="true" scope="col">Nombre del caso</th>
                    <th scope="col">Información</th>
                </tr>
            </thead>
            <tbody id="historyTable">
                @foreach (var caso in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => caso.idIdentificacion)</td>
                        <td>@Html.DisplayFor(modelItem => caso.SUBCASO.IDENTIFICADOR)</td>
                        <td>@Html.DisplayFor(modelItem => caso.Fecha_guardado)</td>
                        <td>@Html.DisplayFor(modelItem => caso.SUBCASO.CASO.Nombre)</td>
                        <td><a id='@("detalle"+caso.idIdentificacion)' class="btn btn-primary btn-md" style="width:100%" href="@Url.Action("Detalle", "Home", new { idSubcaso = caso.idSubcaso })">Detalle</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <button id="nuevaIdentificacion" class="btn btn-primary" href="/home/Index">Realizar nueva identificación</button>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#filter").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#historyTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>


