@model Tuple < List < ProyectoIntegrador.Models.CASO > , List <ProyectoIntegrador.Models.SUBCASO>, int?>
@{
    ViewBag.Title = "Identificación de huella latente";
}

<h3 style="text-align:left;"> @ViewBag.Title.</h3>

<style>
    tr.accordion-toggle {
        font: 15px;
    }

    th {
        background-color: black;
        color: white;
        text-align: center;
    }

    td {
        text-align: center;
    }

    .mini {
        height: auto;
        width: auto;
        max-width: 150px;
        max-height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>


<div class="container">
    <div class="row">
        <div class="form-group">
            <input style="margin-top:14px; margin-bottom:14px" class="form-control pull-right" id="filter" type="text" placeholder="Buscar...">
        </div>
    </div>

    <div class="row" style="overflow-x: auto;">
        <table align="center" class="table">
            <thead>
                <tr>
                    <th>Identificador-Caso</th>
                    <th>Número de huellas en el caso</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Item1)
                {
                 var count = 0;
                    foreach (var subcaso in Model.Item2)
                    {
                        if (subcaso.idCaso == item.idCaso)
                        {
                            count = count + 1;
                        }
                    }
                   
                    <tr class="accordion-toggle" data-toggle="collapse" target="#">
                        <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                        <td>@count</td>
                        <td><a id="@item.Nombre" class="btn btn-primary md" style="width:100%" data-target="#@item.idCaso">Ver detalles</a></td>
                    </tr>
                    <tr>
                        <td colspan='2' class="accordion-body collapse" id="@item.idCaso">
                            <table class="table">
                                <thead>
                                <th>Identificador</th>
                                <th>Huella</th>
                                <th></th>
                                </thead>
                                <tbody>
                                    @foreach (var subcaso in Model.Item2)
                                    {
                                        if(subcaso.idCaso == item.idCaso)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => subcaso.IDENTIFICADOR)</td>
                                                <td><a href="#" class="pop"><img class="img-responsive img mini" src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(subcaso.LATENTE.Imagen))" /></a></td>
                                                <td><a id="@subcaso.IDENTIFICADOR" href="@Url.Action("Detalle", "Home", new { idSubcaso = subcaso.idSubcaso, costo = true, movimiento = "Identificacion" })" class="btn btn-primary btn-md" style="width:100%">Identificar</a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <img src="" class="imagepreview" style="width: 100%;">
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#filter").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".accordion-toggle").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                if ($(this).is(":hidden")) {
                    $($(this).attr("target")).hide();
                }
            });
        });
    });

    $(document).ready(function () {
        $(".btn").on("click", function () {
            var target = $(this).attr("data-target");
            var objectTarget = $(target);
            if (objectTarget.is(":visible")) {
                objectTarget.hide();
            } else {
                objectTarget.show();
            }
        });
    });

    $(function () {
        $('.pop').on('click', function () {
            $('.imagepreview').attr('src', $(this).find('img').attr('src'));
            $('#imagemodal').modal('show');
        });
    });
</script>